Repository aruncveli/userstyles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  jobs:
    - run: bun scripts/bumpVersion.ts {staged_files}
      glob: "*.css"
      stage_fixed: true
    - run: bun biome check --write {staged_files}
      glob: "*.css"
      stage_fixed: true
  commands:
    biome:
      run: bun biome check --write {staged_files}
      glob: "*.{js,ts,json}"
      stage_fixed: true
    prettier:
      run: bun prettier --write --ignore-unknown {staged_files}
      glob: "*.{yml,md}"
      stage_fixed: true

lefthook: fix config
  lefthook.yml
  sites/imdb/imdb.user.css
Due: prettier

metacritic: person page fixes
  bun.lock
  package.json
  sites/metacritic/metacritic.user.css
Due: biome

yougov: fix radio button hover
  sites/yougov/yougov.user.css
Due: none

metacritic: remove ad hiding and fix where to watch modal
  biome.json
  bun.lock
  package.json
  sites/metacritic/metacritic.user.css
Due: biome

npm: add package code without syntax highlighting
  bun.lock
  package.json
  sites/gitiles/gitiles.user.css
  sites/npm/npm.user.css
Due: biome

metacritic: fix Justwatch credit
  bun.lock
  package.json
  sites/metacritic/metacritic.user.css
Due: biome

metacritic: tv premiere calendar
  sites/metacritic/metacritic.user.css
  sites/yougov/yougov.user.css
Due: none

npm: fix keywords and sitewise alerts
  bun.lock
  package.json
  sites/npm/npm.user.css
Due: biome

imdb: fix advanced search
  bun.lock
  package.json
  sites/imdb/imdb.user.css
Due: biome

imdb: fix search bar
  README.md
  bun.lock
  package.json
  sites/imdb/imdb.user.css
  sites/mecenat/README.md
  sites/mecenat/mecenat.user.css
Due: biome, prettier

imdb: fix search bar
  sites/imdb/imdb.user.css
Due: none

aws-cdk: more darker elements
  bun.lock
  package.json
  sites/aws-cdk/README.md
  sites/aws-cdk/aws-cdk.user.css
  sites/aws-cdk/screenshot.png
Due: biome, prettier

imdb: fix quotes background
  sites/imdb/imdb.user.css
Due: none

gitiles: misc fixes
  bun.lock
  package.json
  sites/archlinux/archlinux.user.css
  sites/aws-cdk/aws-cdk.user.css
  sites/gitiles/gitiles.user.css
  sites/imdb/imdb.user.css
  sites/snowfl/snowfl.user.css
  sites/thesaurus/thesaurus.user.css
Due: biome

grammarly: refactor and add new editor
  .github/workflows/checks.yml
  sites/grammarly/README.md
  sites/grammarly/grammarly.user.css
  sites/grammarly/screenshot.png
Due: prettier

misc fixes
  sites/archlinux/archlinux.user.css
  sites/grammarly/grammarly.user.css
Due: none

arch: add forum
  LICENSE
  sites/archlinux/README.md
  sites/archlinux/archlinux.user.css
Due: prettier

npm-docs: fix code blocks
  sites/npm-docs/npm-docs.user.css
Due: none

arch: remove styles for man pages
  bun.lock
  package.json
  sites/archlinux/archlinux.user.css
Due: biome

mecenat: mvp
  bun.lock
  package.json
  sites/mecenat/README.md
  sites/mecenat/mecenat.user.css
  sites/mecenat/screenshot.png
Due: biome, prettier

add google translate
  README.md
  bun.lock
  package.json
  scripts/generate.ts
  sites/google-translate/README.md
  sites/google-translate/google-translate.user.css
  sites/google-translate/screenshot.png
Due: biome, prettier

migrate thesaurus to dictionary and thesaurus
  README.md
  bun.lock
  package.json
  sites/dictionary-thesaurus/README.md
  sites/dictionary-thesaurus/dictionary-thesaurus.user.css
  sites/dictionary-thesaurus/screenshot.png
  sites/thesaurus/README.md
  sites/thesaurus/screenshot.png
  sites/thesaurus/thesaurus.user.css
Due: biome, prettier

aws-cli: fix links
  bun.lock
  package.json
  sites/aws-cli/aws-cli.user.css
Due: biome

translate: misc fixes
  .vscode/mcp.json
  bun.lock
  package.json
  sites/google-translate/google-translate.user.css
Due: biome

apotea: enhance link color
  sites/apotea/apotea.user.css
Due: none

translate: misc fixes
  sites/google-translate/google-translate.user.css
Due: none

add gmail
  README.md
  bun.lock
  package.json
  sites/gmail/README.md
  sites/gmail/gmail.user.css
  sites/mecenat/mecenat.user.css
Due: biome, prettier

metacritic: catch up
  sites/metacritic/metacritic.user.css
Due: none

metacritic: misc fixes
  bun.lock
  package.json
  sites/gmail/gmail.user.css
  sites/metacritic/metacritic.user.css
Due: biome

metacritic: fix browse page search suggestions
  sites/google-translate/screenshot.png
  sites/metacritic/metacritic.user.css
Due: none

metacritic: fix bg on search result hover
  sites/metacritic/metacritic.user.css
Due: none

translate: fix selection popup bg
  sites/google-translate/google-translate.user.css
Due: none

metacritic: sync
  bun.lock
  package.json
  sites/metacritic/metacritic.user.css
Due: biome

imdb: sync
  sites/imdb/imdb.user.css
Due: none

sync smhi and metacritic
  README.md
  bun.lock
  package.json
  scripts/root-readme-entry.ejs
  sites/metacritic/metacritic.user.css
  sites/smhi/smhi.user.css
Due: biome, prettier

chore: sync imdb, metacritic, yougov
  bun.lock
  package.json
  sites/imdb/imdb.user.css
  sites/metacritic/metacritic.user.css
  sites/yougov/yougov.user.css
Due: biome

imdb: fix search input
  sites/imdb/imdb.user.css
Due: none

imdb: update description
  sites/imdb/imdb.user.css
Due: none

sync: translate, dictionary-thesaurus
  README.md
  bun.lock
  package.json
  sites/dictionary-thesaurus/dictionary-thesaurus.user.css
  sites/google-translate/google-translate.user.css
Due: biome, prettier

refactor metacritic
  .idx/dev.nix
  bun.lock
  package.json
  sites/metacritic/metacritic.user.css
Due: biome
