Repository aruncveli/userstyles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: bun biome check --write {staged_files}
  stage_fixed: true

prettier:
  run: bun prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

imdb: address episode score graphs
  sites/imdb/imdb.user.css
Due: none

translate: synonyms
  sites/google-translate/google-translate.user.css
Due: none

yougov: fix selected value
  bun.lock
  package.json
  sites/yougov/yougov.user.css
Due: biome

fix ci
  sites/apotea/apotea.user.css
  sites/google-translate/google-translate.user.css
  sites/grammarly/grammarly.user.css
Due: none

dictionary: fix result background
  bun.lock
  package.json
  sites/dictionary-thesaurus/dictionary-thesaurus.user.css
Due: biome

yougov: fix table cell borders
  bun.lock
  package.json
  sites/yougov/yougov.user.css
Due: biome

metacritic: fix search results
  bun.lock
  package.json
  sites/apotea/apotea.user.css
  sites/metacritic/metacritic.user.css
Due: biome

actions: bump checkout to v6
  .github/workflows/checks.yml
Due: prettier

remove npm
  README.md
  bun.lock
  package.json
  sites/dummy.css
  sites/npm/README.md
  sites/npm/npm.user.css
  sites/npm/screenshot.png
Due: biome, prettier

workflow: limit permissions
  .github/workflows/checks.yml
Due: prettier

metacritic: fix where to watch button
  README.md
  bun.lock
  package.json
  sites/medium/README.md
  sites/medium/medium.user.css
  sites/metacritic/metacritic.user.css
Due: biome, prettier

metacritic: where to watch button border
  sites/metacritic/metacritic.user.css
Due: none

hackernews: add welcome page
  bun.lock
  package.json
  sites/hackernews/hackernews.user.css
Due: biome

migrations:
  .oxfmtrc.json
  .vscode/extensions.json
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  scripts/generate.ts
  scripts/readme.ejs
  scripts/readme.hbs
  scripts/root-readme-entry.ejs
  scripts/root-readme-entry.hbs
  scripts/user.css.hbs
  sites/metacritic/metacritic.user.css
  sites/npm-docs/npm-docs.user.css
Due: biome, prettier

fix: align table formatting in README.md
  README.md
Due: prettier

change variable colors to hex
  .prettierignore
  prettier.config.js
  scripts/user.css.hbs
  sites/apotea/apotea.user.css
  sites/archlinux/archlinux.user.css
  sites/aws-cdk/aws-cdk.user.css
  sites/aws-cli/aws-cli.user.css
  sites/baeldung/baeldung.user.css
  sites/dictionary-thesaurus/dictionary-thesaurus.user.css
  sites/gitiles/gitiles.user.css
  sites/gmail/gmail.user.css
  sites/google-translate/google-translate.user.css
  sites/grammarly/grammarly.user.css
  sites/hackernews/hackernews.user.css
  sites/imdb/imdb.user.css
  sites/mecenat/mecenat.user.css
  sites/medium/medium.user.css
  sites/metacritic/metacritic.user.css
  sites/seedr/seedr.user.css
  sites/smhi/smhi.user.css
  sites/snowfl/snowfl.user.css
  sites/trafikinformation-tåg/trafikinformation-tåg.user.css
  sites/yougov/yougov.user.css
Due: biome

metacritic: misc review fixes
  bun.lock
  lefthook.yml
  sites/metacritic/metacritic.user.css
  sites/yougov/yougov.user.css
Due: prettier

format
  .oxfmtrc.json
  .vscode/extensions.json
  package.json
  scripts/generate.ts
  sites/apotea/apotea.user.css
  sites/aws-cli/aws-cli.user.css
  sites/dictionary-thesaurus/dictionary-thesaurus.user.css
  sites/grammarly/grammarly.user.css
  sites/smhi/smhi.user.css
  sites/trafikinformation-tåg/trafikinformation-tåg.user.css
Due: biome

metacritic: misc fixes
  biome.json
  bun.lock
  package.json
  sites/metacritic/metacritic.user.css
Due: biome

seedr: fix paused downloads
  sites/seedr/seedr.user.css
Due: none

metacritic: misc fixes
  sites/metacritic/metacritic.user.css
Due: none

change @-moz-document to @document
  bun.lock
  lefthook.yml
  package.json
  scripts/bump-version.ts
  sites/apotea/apotea.user.css
  sites/archlinux/archlinux.user.css
  sites/aws-cdk/aws-cdk.user.css
  sites/aws-cli/aws-cli.user.css
  sites/baeldung/baeldung.user.css
  sites/dictionary-thesaurus/dictionary-thesaurus.user.css
  sites/gitiles/gitiles.user.css
  sites/gmail/gmail.user.css
  sites/google-translate/google-translate.user.css
  sites/grammarly/grammarly.user.css
  sites/hackernews/hackernews.user.css
  sites/imdb/imdb.user.css
  sites/mecenat/mecenat.user.css
  sites/medium/medium.user.css
  sites/metacritic/metacritic.user.css
  sites/npm-docs/npm-docs.user.css
  sites/seedr/seedr.user.css
  sites/smhi/smhi.user.css
  sites/snowfl/snowfl.user.css
  sites/trafikinformation-tåg/trafikinformation-tåg.user.css
  sites/yougov/yougov.user.css
Due: biome, prettier

setup mcp and skill, try to address #2
  .agents/mcp_config.json
  .agents/skills/initialize/SKILL.md
  .gitignore
  .vscode/mcp.json
  bun.lock
  package.json
  sites/grammarly/grammarly.user.css
Due: biome, prettier

add series reminder (likely incomplete)
  README.md
  scripts/user.css.hbs
  sites/series-reminder/README.md
  sites/series-reminder/screenshot.png
  sites/series-reminder/series-reminder.user.css
Due: prettier

change @document to @-moz-document
  scripts/user.css.hbs
  sites/apotea/apotea.user.css
  sites/archlinux/archlinux.user.css
  sites/aws-cdk/aws-cdk.user.css
  sites/aws-cli/aws-cli.user.css
  sites/baeldung/baeldung.user.css
  sites/dictionary-thesaurus/dictionary-thesaurus.user.css
  sites/gitiles/gitiles.user.css
  sites/gmail/gmail.user.css
  sites/google-translate/google-translate.user.css
  sites/grammarly/grammarly.user.css
  sites/hackernews/hackernews.user.css
  sites/imdb/imdb.user.css
  sites/mecenat/mecenat.user.css
  sites/medium/medium.user.css
  sites/metacritic/metacritic.user.css
  sites/npm-docs/npm-docs.user.css
  sites/seedr/seedr.user.css
  sites/series-reminder/series-reminder.user.css
  sites/smhi/smhi.user.css
  sites/snowfl/snowfl.user.css
  sites/trafikinformation-tåg/trafikinformation-tåg.user.css
  sites/yougov/yougov.user.css
Due: none

archlinux: add mailing list
  bun.lock
  package.json
  sites/archlinux/archlinux.user.css
Due: biome

serires-reminder: search results and misc
  sites/series-reminder/series-reminder.user.css
Due: none

misc fixes, bump deps
  bun.lock
  bunfig.toml
  package.json
  sites/metacritic/metacritic.user.css
  sites/series-reminder/series-reminder.user.css
Due: biome

add pluralsight tests
  README.md
  sites/pluralsight/README.md
  sites/pluralsight/pluralsight.user.css
  sites/pluralsight/screenshot.png
Due: prettier

misc updates
  .agents/mcp_config.json
  README.md
  bun.lock
  package.json
  sites/apotea/apotea.user.css
  sites/metacritic/metacritic.user.css
  sites/series-reminder/series-reminder.user.css
Due: biome, prettier

refactor medium
  sites/medium/medium.user.css
Due: none

add medium screenshot
  lefthook.yml
  sites/medium/screenshot.png
Due: prettier

misc fixes for grammarly and metacritic
  .agents/mcp_config.json
  .agents/skills/initialize/SKILL.md
  .kiro/settings/mcp.json
  .vscode/mcp.json
  AGENTS.md
  sites/grammarly/grammarly.user.css
  sites/metacritic/metacritic.user.css
  sites/wallet/README.md
  sites/wallet/wallet.user.css
Due: biome, prettier

add vibes to wallet
  .agents/mcp_config.json
  AGENTS.md
  sites/wallet/wallet.user.css
Due: biome, prettier

add wallet screenshot
  .oxfmtrc.json
  AGENTS.md
  README.md
  sites/apotea/README.md
  sites/archlinux/README.md
  sites/gitiles/README.md
  sites/hackernews/README.md
  sites/pluralsight/README.md
  sites/smhi/README.md
  sites/snowfl/README.md
  sites/trafikinformation-tåg/README.md
  sites/wallet/screenshot.png
Due: biome, prettier

arch: fix bbs help page
  README.md
  bun.lock
  package.json
  sites/archlinux/archlinux.user.css
Due: biome, prettier

Path conditions:
  biome: any of: *.{js,ts,json}
  prettier: any of: *.{yml,md}
